.container {
  --lineColor: rgba(255, 255, 255, 0.8);
  display: grid;
  grid-gap: 1;
  grid-template-rows: repeat(15, 48px);
  grid-template-columns: repeat(15, 48px);
  margin: 40px auto;
  padding: 0;
  width: 640px;
  height: 640px;
  background-image: linear-gradient(
      0deg,
      var(--lineColor) 0px,
      var(--lineColor) 1px,
      transparent 1px,
      transparent 100px
    ),
    linear-gradient(
      90deg,
      var(--lineColor) 0px,
      var(--lineColor) 1px,
      transparent 1px,
      transparent 100px
    );
  background-size: 48px 48px;
}

li {
  background-image: url(./assets/tiles.png);
  background-origin: bottom right;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}
